/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { font-family: Arial, sans-serif; font-size: 12px; line-height: 1.4; }

@font-face { font-family: BrandonGrotesque-Medium; src: url("fonts/BrandonGrotesque-Medium.eot"); src: url("fonts/BrandonGrotesque-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/BrandonGrotesque-Medium.woff") format("woff"), url("fonts/BrandonGrotesque-Medium.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: BrandonGrotesque-Black; src: url("fonts/BrandonGrotesque-Black.eot"); src: url("fonts/BrandonGrotesque-Black.eot?#iefix") format("embedded-opentype"), url("fonts/BrandonGrotesque-Black.woff") format("woff"), url("fonts/BrandonGrotesque-Black.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: BrandonGrotesque-Regular; src: url("fonts/BrandonGrotesque-Regular.eot"); src: url("fonts/BrandonGrotesque-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/BrandonGrotesque-Regular.woff") format("woff"), url("fonts/BrandonGrotesque-Regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: BrandonGrotesque-Bold; src: url("fonts/BrandonGrotesque-Bold.eot"); src: url("fonts/BrandonGrotesque-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/BrandonGrotesque-Bold.woff") format("woff"), url("fonts/BrandonGrotesque-Bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }

header, section, footer { min-width: 1115px; }

header { width: 100%; height: 70px; position: fixed; z-index: 3; background: #5bcce1; border-bottom: 2px solid #54bdd0; font-family: "BrandonGrotesque-Medium", Arial, sans-serif; }

.header__left { position: absolute; }

.header__logo { position: absolute; top: 18px; left: 28px; }

.header__menu { position: relative; top: 23px; left: 195px; font-size: 18px; }
.header__menu li { display: inline-block; padding-right: 16px; }
.header__menu li a { color: white; text-decoration: none; }

.header__phone { float: left; margin: 19px 0 0 240px; color: white; font-size: 24px; position: absolute; left: 50%; margin: 20px 0 0 -83px; }

.header__right { position: absolute; right: 90px; top: 17px; }

.header__auth button { width: 233px; height: 37px; background: none; font-size: 16px; border: 2px solid white; color: white; text-align: left; padding-left: 20px; }
.header__auth .menu i { background: url(../img/menu_i.png) no-repeat; position: absolute; width: 26px; height: 15px; top: 11px; right: -40px; cursor: pointer; }
.header__auth .search i { background: url(../img/search_i.png) no-repeat; position: absolute; width: 20px; height: 19px; top: 9px; right: -73px; cursor: pointer; }

.header__search { margin-top: 6px; }
.header__search a { font-size: 18px; color: white; text-decoration: none; display: inline-block; margin-right: 10px; }
.header__search a:last-child { margin-right: 0; }
.header__search a:hover { text-decoration: underline; }

.home { position: relative; background: url(../img/bg.jpg) 50% 30% no-repeat; background-size: cover; height: 830px; }

.home__text { font-family: "BrandonGrotesque-Medium", Arial, sans-serif; padding-top: 200px; margin: 0 auto 80px; width: 940px; }
.home__text img { position: relative; left: 50%; bottom: 45px; margin-left: -69px; }
.home__text p { font-size: 36px; color: white; text-align: center; }

.home__pagination { position: absolute; left: 50%; margin-left: -20px; }
.home__pagination a { cursor: pointer; display: inline-block; width: 11px; height: 11px; margin: 0 3px; background: url('../img/icons-s675db15190.png') 0 -21px no-repeat; width: 11px; height: 11px; }
.home__pagination a.active { background: url('../img/icons-s675db15190.png') 0 -63px no-repeat; width: 11px; height: 11px; }

.home__social { position: absolute; left: 35px; bottom: 20px; }

.home__scroll { position: absolute; left: 50%; bottom: 50px; margin-left: -55px; }
.home__scroll a { font: 14px "BrandonGrotesque-Black", Arial, sans-serif; text-transform: uppercase; text-decoration: none; color: white; bottom: 50px; }
.home__scroll:after { content: ""; position: absolute; width: 14px; height: 9px; background: url(../img/arrow.png) no-repeat; left: 50%; margin: 15px 0 0 -7px; }

.brands { position: relative; height: 830px; }

.brands__text { font-family: "BrandonGrotesque-Regular", Arial, sans-serif; text-align: center; padding-top: 108px; }
.brands__text .title { color: #5bcce1; font-size: 48px; }
.brands__text p { color: #555555; font-size: 24px; }
.brands__text table { width: 1000px; border: 0; margin: 0 auto; margin-top: 100px; }
.brands__text table td { padding-bottom: 100px; }
.brands__text table a { font-size: 18px; text-decoration: none; text-transform: uppercase; color: #555555; }
.brands__text table a span { display: block; }

.brands__scroll { position: absolute; left: 50%; bottom: 50px; margin-left: -55px; }
.brands__scroll a { font: 14px "BrandonGrotesque-Black", Arial, sans-serif; text-transform: uppercase; text-decoration: none; color: #5bcce1; bottom: 50px; }
.brands__scroll:after { content: ""; position: absolute; width: 14px; height: 9px; background: url(../img/arrow2.png) no-repeat; left: 50%; margin: 15px 0 0 -7px; }

.account { position: relative; background: #5bcce1; height: 830px; padding-bottom: 80px; }

.account__text { font-family: "BrandonGrotesque-Regular", Arial, sans-serif; text-align: center; padding-top: 108px; color: white; }
.account__text .title { font-size: 48px; }
.account__text p { font-size: 24px; }

.account__fieldset { text-align: center; color: black; padding-top: 50px; }
.account__fieldset input { width: 300px; height: 50px; margin: 0 20px 20px 0; padding-left: 20px; }

.account__create { margin-top: 30px; position: relative; background: none; border: 2px solid white; width: 320px; height: 50px; text-transform: uppercase; color: white; }
.account__create:after { content: ""; background: url(../img/arrow3.png) no-repeat; position: absolute; width: 9px; height: 14px; right: 20px; }

.searching { background: #5bcce1; height: 380px; }
.searching .searching__products { width: 1000px; margin: 0 auto; padding-top: 105px; }
.searching .searching__products .title { font: 48px "BrandonGrotesque-Regular", Arial, sans-serif; color: white; padding-bottom: 50px; }

.searching__row { position: relative; padding-bottom: 20px; }
.searching__row input { width: 610px; height: 50px; margin-right: 16px; padding-left: 50px; }
.searching__row i { position: absolute; width: 20px; height: 20px; background: url(../img/search_i2.png) no-repeat; left: 15px; top: 15px; }
.searching__row button { font: 14px "BrandonGrotesque-Black", Arial, sans-serif; background: none; border: 2px solid white; width: 320px; height: 50px; color: white; letter-spacing: 2px; text-transform: uppercase; position: relative; }
.searching__row button span:after { content: ""; background: url(../img/arrow3.png) no-repeat; position: absolute; width: 9px; height: 14px; top: 16px; right: 30px; }

.searching__features { position: relative; float: left; }
.searching__features .last { margin-right: 0; }
.searching__features p { font: 14px "BrandonGrotesque-Medium", Arial, sans-serif; color: white; letter-spacing: 2px; text-transform: uppercase; }
.searching__features input { width: 300px; height: 50px; padding-left: 20px; color: #555555; }
.searching__features i { background: url(../img/arrow2.png) no-repeat; position: absolute; width: 14px; height: 9px; top: 20px; right: 30px; }

.result { font: 18px "BrandonGrotesque-Regular", Arial, sans-serif; color: #555555; }
.result span { font-family: "BrandonGrotesque-Medium", Arial, sans-serif; }
.result button { background: white; border: 2px solid #5bcce1; }
.result button a { font-family: "BrandonGrotesque-Black", Arial, sans-serif; text-transform: uppercase; }
.result .last { margin-right: 0; }

.checkout { background: #5bcce1; }

.checkout__text { width: 1000px; margin: 0 auto; }
.checkout__text .title { font: 48px "BrandonGrotesque-Regular", Arial, sans-serif; color: white; padding: 135px 0 70px 0; }

.existing, .newcus { width: 1000px; margin: 0 auto; padding: 60px 0; }

.steps { color: #5bcce1; *zoom: 1; }
.steps:after { content: " "; display: table; clear: both; }

.steps__name { font: 24px "BrandonGrotesque-Regular", Arial, sans-serif; float: left; line-height: 1; }

.steps__order { font: 18px "BrandonGrotesque-Medium", Arial, sans-serif; float: right; }
.steps__order li { float: left; margin-right: 30px; opacity: 0.5; position: relative; }
.steps__order li:after { content: ""; position: absolute; width: 9px; height: 14px; background: url(../img/arrow4.png) right no-repeat; top: 7px; right: -15px; }
.steps__order li.active { opacity: 1; }

.existing__options { font: 18px "BrandonGrotesque-Regular", Arial, sans-serif; padding-top: 60px; color: #555555; border-bottom: 1px solid #dddddd; }

.existing__choose { padding: 45px 0 80px 0; font-size: 18px; color: #555555; }
.existing__choose table { width: 35%; }
.existing__choose .another { font-family: "BrandonGrotesque-Medium", Arial, sans-serif; padding-left: 20px; }
.existing__choose .info { font-family: "BrandonGrotesque-Regular", Arial, sans-serif; }

.existing__shipping { padding: 50px 0 100px 0; font-size: 18px; }
.existing__shipping table { width: 70%; }
.existing__shipping table td { padding-right: 15px; }
.existing__shipping table ul { font-family: "BrandonGrotesque-Regular", Arial, sans-serif; margin-bottom: 30px; color: #555555; }
.existing__shipping table ul span { font-family: "BrandonGrotesque-Medium", Arial, sans-serif; }
.existing__shipping table .radio__title:before, .existing__shipping table .radio__title:after { top: -11px; left: -1px; }
.existing__shipping a { font-family: "BrandonGrotesque-Medium", Arial, sans-serif; color: #5bcce1; }
.existing__shipping a:hover { text-decoration: none; }

.checkbox { display: inline-block; position: relative; }
.checkbox input { position: absolute; left: 0; top: 7px; width: 15px; height: 15px; z-index: 2; opacity: 0; }
.checkbox input:checked + .checkbox__title:after { display: block; }

.checkbox__title { display: block; position: relative; z-index: 1; padding-left: 30px; }
.checkbox__title:before { content: ""; position: absolute; left: 0; top: 7px; width: 13px; height: 13px; border: 1px solid #dddddd; background: white; }
.checkbox__title:after { content: ""; display: none; position: absolute; top: 9px; left: 0; z-index: 2; background: url('../img/icons-s675db15190.png') 0 -84px no-repeat; width: 14px; height: 9px; }

.radio { display: inline-block; position: relative; }
.radio input { position: absolute; left: 0; top: 8px; width: 11px; height: 11px; z-index: 2; opacity: 0; }
.radio input:checked + .radio__title:after { display: block; }

.radio__title { display: inline-block; position: relative; z-index: 1; }
.radio__title:before { content: ""; position: absolute; left: 0; top: 8px; width: 11px; height: 11px; background: url('../img/icons-s675db15190.png') 0 -42px no-repeat; width: 11px; height: 11px; }
.radio__title:after { content: ""; display: none; position: absolute; top: 8px; left: 0; z-index: 2; background: url('../img/icons-s675db15190.png') 0 0 no-repeat; width: 11px; height: 11px; }

.existing__address { float: right; margin-right: 30px; *zoom: 1; }
.existing__address:after { content: " "; display: table; clear: both; }

.existing__billing { font: 18px "BrandonGrotesque-Regular", Arial, sans-serif; color: #555555; }
.existing__billing .card { width: 30%; margin-top: 35px; }
.existing__billing .card td { vertical-align: top; padding-bottom: 15px; }
.existing__billing .card td img { margin: 0 auto; display: block; }
.existing__billing .card td .radio input { left: 20px; top: 45px; }
.existing__billing .card td .radio__title:before, .existing__billing .card td .radio__title:after { top: -11px; left: 19px; }
.existing__billing a { font-family: "BrandonGrotesque-Medium", Arial, sans-serif; color: #5bcce1; }
.existing__billing a:hover { text-decoration: none; }
.existing__billing .payment { width: 45%; margin-top: 40px; }
.existing__billing .payment .radio input { left: 21px; top: 45px; }
.existing__billing .payment .radio__title:before, .existing__billing .payment .radio__title:after { left: -38px; top: 8px; }
.existing__billing .payment a { text-decoration: none; }

.existing__checkbox { margin-top: 40px; font: 14px "BrandonGrotesque-Medium", Arial, sans-serif; line-height: 2; }
.existing__checkbox input { margin-right: 10px; }

.existing__result { *zoom: 1; padding: 60px 0; }
.existing__result:after { content: " "; display: table; clear: both; }

.existing__finish { width: 33%; float: left; }
.existing__finish p { border-bottom: 1px solid #dddddd; margin-bottom: 45px; }
.existing__finish ul { margin-bottom: 30px; }

.existing__product { *zoom: 1; }
.existing__product:after { content: " "; display: table; clear: both; }
.existing__product tr { border-bottom: 1px solid #dddddd; }
.existing__product td { width: 15%; text-align: right; padding: 30px 0; }
.existing__product .existing__first td { padding: 0; font: 18px "BrandonGrotesque-Regular", Arial, sans-serif; }
.existing__product .product__name { width: 55%; text-align: left; font: 18px "BrandonGrotesque-Medium", Arial, sans-serif; }

.existing__total { *zoom: 1; }
.existing__total:after { content: " "; display: table; clear: both; }
.existing__total table { width: 35%; text-align: right; float: right; margin: 40px 0; }
.existing__total .medium { font-family: "BrandonGrotesque-Medium", Arial, sans-serif; }

.existing__buttons { border-top: 1px solid #dddddd; border-bottom: 1px solid #dddddd; padding: 25px 0; position: relative; }
.existing__buttons button { width: 320px; height: 50px; background: #5bcce1; position: absolute; right: 0; }
.existing__buttons button a { text-transform: uppercase; text-decoration: none; color: white; }
.existing__buttons .back { background: none; border: 2px solid #5bcce1; position: relative; }
.existing__buttons .back i { background: url(../img/arrow4.png); position: absolute; width: 9px; height: 14px; top: 15px; left: 20px; -ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg); }
.existing__buttons .back a { color: #5bcce1; }

.newcus__shipping { padding: 45px 0 60px 0; }
.newcus__shipping span { font: 14px "BrandonGrotesque-Medium", Arial, sans-serif; color: #555555; line-height: 2; }

.newcus__fieldset input { font: 18px "BrandonGrotesque-Regular", Arial, sans-serif; width: 300px; height: 50px; margin: 0 20px 20px 0; padding-left: 20px; border: 1px solid #dddddd; color: #555555; }
.newcus__fieldset input:-moz-placeholder, .newcus__fieldset input::-moz-placeholder { color: #555555; opacity: 1; }
.newcus__fieldset input::-webkit-input-placeholder { color: #555555; }
.newcus__fieldset .long { width: 644px; }
.newcus__fieldset i { position: absolute; width: 14px; height: 9px; top: 20px; right: 20px; background: url('../img/icons-s675db15190.png') 0 -84px no-repeat; width: 14px; height: 9px; cursor: pointer; }

.dropdown { display: inline-block; position: relative; width: 320px; height: 50px; margin-right: 20px; }
.dropdown select { opacity: 0; position: absolute; width: 100%; height: 50px; z-index: 3; -webkit-appearance: none; color: #555555; }

.footer__common { background: #5bcce1; padding: 50px 0; border-top: 1px solid white; }
.footer__common .footer__social, .footer__common .footer__menu { float: left; margin-left: 35px; }
.footer__common .footer__menu { margin-top: 3px; }
.footer__common .footer__menu li { float: left; padding-right: 15px; }
.footer__common .footer__menu li:hover a { text-decoration: none; }
.footer__common .footer__menu li a { color: white; }
.footer__common .footer__copyright { font: 13px "BrandonGrotesque-Medium", Arial, sans-serif; float: right; margin-right: 50px; color: white; }

.footer__badges { height: 50px; background: white; text-align: center; }
.footer__badges a { display: inline-block; margin: 10px 5px 0 0; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }
