/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { font-family: Arial, sans-serif; font-size: 12px; line-height: 1.4; }

@font-face { font-family: BrandonGrotesque-Medium; src: url("fonts/BrandonGrotesque-Medium.eot"); src: url("fonts/BrandonGrotesque-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/BrandonGrotesque-Medium.woff") format("woff"), url("fonts/BrandonGrotesque-Medium.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: BrandonGrotesque-Black; src: url("fonts/BrandonGrotesque-Black.eot"); src: url("fonts/BrandonGrotesque-Black.eot?#iefix") format("embedded-opentype"), url("fonts/BrandonGrotesque-Black.woff") format("woff"), url("fonts/BrandonGrotesque-Black.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: BrandonGrotesque-Regular; src: url("fonts/BrandonGrotesque-Regular.eot"); src: url("fonts/BrandonGrotesque-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/BrandonGrotesque-Regular.woff") format("woff"), url("fonts/BrandonGrotesque-Regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }

header { width: 100%; min-width: 1115px; height: 70px; position: fixed; z-index: 1; background: #5bcce1; font-family: "BrandonGrotesque-Medium", Arial, sans-serif; }

.header__left { position: absolute; }

.header__logo { position: absolute; top: 18px; left: 28px; }

.header__menu { position: relative; top: 23px; left: 195px; font-size: 18px; }
.header__menu li { display: inline-block; padding-right: 16px; }
.header__menu li a { color: white; text-decoration: none; }

.header__phone { float: left; margin: 19px 0 0 240px; color: white; font-size: 24px; position: absolute; left: 50%; margin: 20px 0 0 -83px; }

.header__right { position: absolute; right: 90px; top: 17px; }

.header__auth input { width: 228px; height: 33px; padding: 0 0 0 20px; background: none; font-size: 16px; border: 2px solid white; color: white; }
.header__auth input:-moz-placeholder, .header__auth input::-moz-placeholder { color: white; opacity: 1; }
.header__auth input::-webkit-input-placeholder { color: white; }
.header__auth input:focus { box-shadow: 0 0 0 1px #dff6fd; border-color: #dff6fd; }
.header__auth .menu i { background: url(../img/menu_i.png) no-repeat; position: absolute; width: 26px; height: 15px; top: 11px; right: -40px; cursor: pointer; }
.header__auth .search i { background: url(../img/search_i.png) no-repeat; position: absolute; width: 20px; height: 19px; top: 9px; right: -73px; cursor: pointer; }

.home { position: relative; background: url(../img/bg-1.png) no-repeat; height: 830px; min-width: 1115px; }

.home__text { font-family: "BrandonGrotesque-Medium", Arial, sans-serif; padding-top: 200px; margin: 0 auto 80px; width: 940px; }
.home__text img { position: relative; left: 50%; bottom: 45px; margin-left: -69px; }
.home__text p { font-size: 36px; color: white; text-align: center; }

.home__pagination { position: absolute; left: 50%; margin-left: -20px; }
.home__pagination a { cursor: pointer; background: url(../img/dot1.png) no-repeat; display: inline-block; width: 11px; height: 11px; margin: 0 3px; }
.home__pagination a.active { background: url(../img/dot2.png) no-repeat; }

.home__social { position: absolute; left: 35px; bottom: 20px; }

.home__scroll { position: absolute; left: 50%; bottom: 50px; margin-left: -55px; }
.home__scroll a { font: 14px "BrandonGrotesque-Black", Arial, sans-serif; text-transform: uppercase; text-decoration: none; color: white; bottom: 50px; }
.home__scroll:after { content: ""; position: absolute; width: 14px; height: 9px; background: url(../img/arrow.png) no-repeat; left: 50%; margin: 15px 0 0 -7px; }

.brands { position: relative; height: 830px; min-width: 1115px; }

.brands__text { font-family: "BrandonGrotesque-Regular", Arial, sans-serif; text-align: center; padding-top: 108px; }
.brands__text .title { color: #5bcce1; font-size: 48px; }
.brands__text p { color: #555555; font-size: 24px; }
.brands__text table { width: 1000px; border: 0; margin: 0 auto; margin-top: 100px; }
.brands__text table td { padding-bottom: 100px; }
.brands__text table a { font-size: 18px; text-decoration: none; text-transform: uppercase; color: #555555; }
.brands__text table a span { display: block; }

.brands__scroll { position: absolute; left: 50%; bottom: 50px; margin-left: -55px; }
.brands__scroll a { font: 14px "BrandonGrotesque-Black", Arial, sans-serif; text-transform: uppercase; text-decoration: none; color: #5bcce1; bottom: 50px; }
.brands__scroll:after { content: ""; position: absolute; width: 14px; height: 9px; background: url(../img/arrow2.png) no-repeat; left: 50%; margin: 15px 0 0 -7px; }

.account { position: relative; background: #5bcce1; height: 830px; min-width: 1115px; }

.account__text { font-family: "BrandonGrotesque-Regular", Arial, sans-serif; text-align: center; padding-top: 108px; color: white; }
.account__text .title { font-size: 48px; }
.account__text p { font-size: 24px; }

.account__fieldset { text-align: center; color: black; padding-top: 50px; }
.account__fieldset input { width: 300px; height: 50px; margin: 0 20px 20px 0; padding-left: 20px; }

.account__create { margin-top: 30px; position: relative; background: none; border: 2px solid white; width: 320px; height: 50px; text-transform: uppercase; color: white; }
.account__create:after { content: ""; background: url(../img/arrow3.png) no-repeat; position: absolute; width: 9px; height: 14px; right: 20px; }

.account__menu { position: absolute; bottom: 25px; left: 115px; }
.account__menu li { float: left; padding-right: 15px; }
.account__menu li:hover a { text-decoration: none; }
.account__menu li a { color: white; }

footer { height: 50px; text-align: center; }
footer a { display: inline-block; margin: 10px 5px 0 0; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }
