/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { font-family: Arial, sans-serif; font-size: 12px; line-height: 1.4; }

@font-face { font-family: BrandonGrotesque-Medium; src: url("fonts/BrandonGrotesque-Medium.eot"); src: url("fonts/BrandonGrotesque-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/BrandonGrotesque-Medium.woff") format("woff"), url("fonts/BrandonGrotesque-Medium.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: BrandonGrotesque-Black; src: url("fonts/BrandonGrotesque-Black.eot"); src: url("fonts/BrandonGrotesque-Black.eot?#iefix") format("embedded-opentype"), url("fonts/BrandonGrotesque-Black.woff") format("woff"), url("fonts/BrandonGrotesque-Black.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: BrandonGrotesque-Regular; src: url("fonts/BrandonGrotesque-Regular.eot"); src: url("fonts/BrandonGrotesque-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/BrandonGrotesque-Regular.woff") format("woff"), url("fonts/BrandonGrotesque-Regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: BrandonGrotesque-Bold; src: url("fonts/BrandonGrotesque-Bold.eot"); src: url("fonts/BrandonGrotesque-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/BrandonGrotesque-Bold.woff") format("woff"), url("fonts/BrandonGrotesque-Bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }

.out { position: relative; overflow: hidden; min-height: 100%; }

header { width: 100%; height: 70px; position: fixed; z-index: 3; background: #5bcce1; border-bottom: 2px solid #54bdd0; font-family: "BrandonGrotesque-Medium", Arial, sans-serif; }

.header__left, .header__logo, .header__right, .header__phone { position: absolute; }

.header__logo { top: 18px; left: 28px; }

.header__menu { position: relative; top: 23px; left: 195px; font-size: 18px; }
@media only screen and (max-width: 815px) { .header__menu { display: none; } }
.header__menu li { display: inline-block; padding-right: 16px; }
.header__menu li a { color: white; text-decoration: none; }

.header__phone { float: left; left: 50%; color: white; font-size: 24px; margin: 20px 0 0 -83px; }
@media only screen and (max-width: 1270px) { .header__phone { display: none; } }

.header__right { right: 90px; top: 17px; }

.header__auth button { width: 233px; height: 37px; background: none; font-size: 16px; border: 2px solid white; color: white; text-align: left; padding-left: 20px; }
.header__auth a { font: 18px "BrandonGrotesque-Medium", Arial, sans-serif; padding: 5px 10px 0 0; display: inline-block; color: white; text-decoration: none; }
@media only screen and (max-width: 480px) { .header__auth a { font-size: 15px; padding: 5px 8px 0 0; } }
@media only screen and (max-width: 480px) { .header__auth button { width: 190px; text-align: center; padding: 5px; font-size: 15px; } }
@media only screen and (max-width: 360px) { .header__auth { display: none; } }
.header__auth .auth__menu { background: url('../img/icons-s47fa40b10b.png') 0 -355px no-repeat; width: 26px; height: 15px; position: absolute; top: 11px; right: -40px; cursor: pointer; }
.header__auth .search { background: url('../img/icons-s47fa40b10b.png') 0 -51px no-repeat; width: 19px; height: 20px; position: absolute; top: 9px; right: -73px; cursor: pointer; }

.header__sidebar { font: 18px "BrandonGrotesque-Regular", Arial, sans-serif; background: white; position: absolute; width: 380px; max-width: 50%; height: 98.5%; z-index: 5; top: 0; right: -380px; box-shadow: 0px 5px 3px #d9d9d9; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; transition: all 0.3s linear; }
.header__sidebar.is-active { right: 0; }
.header__sidebar li { border-bottom: 1px solid #ade5f0; padding: 25px 0 19px 30px; }
.header__sidebar li:hover a { color: #5bcce1; }
.header__sidebar li a { text-decoration: none; color: #555555; display: inherit; }
.header__sidebar p { margin: 345px 0 0 30px; }
.header__sidebar p a { font-family: "BrandonGrotesque-Medium", Arial, sans-serif; color: #5bcce1; }

.header__toggle { height: 70px; border-bottom: 1px solid #ade5f0; }
.header__toggle .mactive { background: url('../img/icons-s47fa40b10b.png') 0 -287px no-repeat; width: 26px; height: 15px; position: absolute; top: 30px; left: 30px; }
.header__toggle .close { background: url('../img/icons-s47fa40b10b.png') 0 -81px no-repeat; width: 17px; height: 16px; position: absolute; top: 30px; right: 30px; cursor: pointer; }

.header__search { margin-top: 6px; }
.header__search a { font-size: 18px; color: white; text-decoration: none; display: inline-block; margin-right: 10px; }
.header__search a:last-child { margin-right: 0; }
.header__search a:hover { text-decoration: underline; }

.home { position: relative; background: url(../img/bg.jpg) 50% 0% no-repeat; background-size: cover; height: 100%; }

.home__text { font-family: "BrandonGrotesque-Medium", Arial, sans-serif; padding-top: 200px; margin: 0 auto; width: 50%; }
.home__text img { position: relative; left: 50%; bottom: 45px; margin-left: -69px; }
.home__text p { font-size: 36px; color: white; text-align: center; }

.home__pagination { text-align: center; padding: 80px 0 240px 0; }
.home__pagination a { cursor: pointer; display: inline-block; width: 11px; height: 11px; margin: 0 3px; background: url('../img/icons-s47fa40b10b.png') 0 -132px no-repeat; width: 11px; height: 11px; }
.home__pagination a.active { background: url('../img/icons-s47fa40b10b.png') 0 -174px no-repeat; width: 11px; height: 11px; }

.home__social { position: absolute; left: 35px; bottom: 20px; }

.home__scroll, .brands__scroll { position: absolute; left: 50%; bottom: 50px; margin-left: -65px; }
.home__scroll a, .brands__scroll a { font: 14px "BrandonGrotesque-Black", Arial, sans-serif; text-transform: uppercase; text-decoration: none; color: white; bottom: 50px; }
.home__scroll a:after, .brands__scroll a:after { content: ""; position: absolute; top: 30px; left: 50%; margin: 0 0 0 -7px; background: url('../img/icons-s47fa40b10b.png') 0 -312px no-repeat; width: 14px; height: 9px; }

.brands { position: relative; height: 100%; }

.brands__text { font-family: "BrandonGrotesque-Regular", Arial, sans-serif; text-align: center; padding: 104px 0; }
.brands__text .title { color: #5bcce1; font-size: 48px; }
.brands__text p { color: #555555; font-size: 24px; }
.brands__text .brands__table { width: 53%; margin: 0 auto; margin-top: 100px; }
.brands__text .brands__table .first__row { margin-bottom: 100px; }
.brands__text .brands__table .bl { display: inline-block; width: 16%; margin-bottom: 100px; }
.brands__text .brands__table a { font-size: 18px; text-decoration: none; text-transform: uppercase; color: #555555; }
.brands__text .brands__table a span { display: block; }
@media only screen and (max-width: 1330px) { .brands__text .brands__table .bl { width: 25%; } }
@media only screen and (max-width: 875px) { .brands__text .brands__table .bl { width: 40%; } }
@media only screen and (max-width: 530px) { .brands__text .brands__table .bl { width: 50%; } }

.brands__scroll a { color: #5bcce1; }
.brands__scroll a:after { background: url('../img/icons-s47fa40b10b.png') 0 -195px no-repeat; width: 14px; height: 9px; }

.account { position: relative; background: #5bcce1; height: 100%; padding-bottom: 80px; }

.account__text { font-family: "BrandonGrotesque-Regular", Arial, sans-serif; text-align: center; padding-top: 108px; color: white; }
.account__text .title { font-size: 48px; }
.account__text p { font-size: 24px; }

.account__fieldset { text-align: center; color: black; padding-top: 50px; }
.account__fieldset input { width: 300px; height: 50px; margin: 0 20px 20px 0; padding-left: 20px; }
.account__fieldset input:-moz-placeholder, .account__fieldset input::-moz-placeholder { color: #555555; opacity: 1; }
.account__fieldset input::-webkit-input-placeholder { color: #555555; }

.account__create { margin-top: 30px; position: relative; background: none; border: 2px solid white; width: 320px; height: 50px; text-transform: uppercase; color: white; }
.account__create:after { content: ""; position: absolute; right: 20px; background: url('../img/icons-s47fa40b10b.png') 0 -331px no-repeat; width: 9px; height: 14px; }

.welcome button { margin-right: 20px; }

.welcome__text { font: 24px "BrandonGrotesque-Medium", Arial, sans-serif; margin-top: 65px; color: #b9f4ff; opacity: 0.8; }
.welcome__text .ps { font-size: 18px; margin-top: 50px; }
.welcome__text a { color: white; }

.searching { background: #5bcce1; height: 100%; padding-bottom: 100px; }
.searching .searching__products { max-width: 1000px; margin: 0 auto; padding-top: 105px; *zoom: 1; }
.searching .searching__products:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 1055px) { .searching .searching__products { padding-left: 20px; } }
.searching .searching__products .title { font: 48px "BrandonGrotesque-Regular", Arial, sans-serif; color: white; padding-bottom: 35px; }

.searching__row { position: relative; padding-bottom: 20px; }
.searching__row input { width: 61%; height: 50px; margin-right: 16px; padding-left: 50px; }
.searching__row input:-moz-placeholder, .searching__row input::-moz-placeholder { color: #555555; opacity: 1; }
.searching__row input::-webkit-input-placeholder { color: #555555; }
.searching__row i { position: absolute; left: 15px; top: 15px; background: url('../img/icons-s47fa40b10b.png') 0 0 no-repeat; width: 20px; height: 20px; }
.searching__row button { font: 14px "BrandonGrotesque-Black", Arial, sans-serif; background: none; border: 2px solid white; width: 320px; height: 50px; color: white; letter-spacing: 2px; text-transform: uppercase; position: relative; }
.searching__row button span:after { content: ""; position: absolute; top: 16px; right: 30px; background: url('../img/icons-s47fa40b10b.png') 0 -331px no-repeat; width: 9px; height: 14px; }
@media only screen and (max-width: 1900px) { .searching__row input { margin-bottom: 20px; } }
@media only screen and (max-width: 1270px) { .searching__row input { width: 270px; } }

.searching__features { position: relative; float: left; }
.searching__features .last { margin-right: 0; }
.searching__features p { font: 14px "BrandonGrotesque-Medium", Arial, sans-serif; color: white; letter-spacing: 2px; text-transform: uppercase; }
.searching__features input { width: 300px; height: 50px; padding-left: 20px; color: #555555; }
.searching__features input:-moz-placeholder, .searching__features input::-moz-placeholder { color: #555555; opacity: 1; }
.searching__features input::-webkit-input-placeholder { color: #555555; }
.searching__features i { position: absolute; top: 20px; right: 30px; background: url('../img/icons-s47fa40b10b.png') 0 -195px no-repeat; width: 14px; height: 9px; }

.result { font: 18px "BrandonGrotesque-Regular", Arial, sans-serif; color: #555555; }
.result .show { font-size: 24px; }
.result span { font-family: "BrandonGrotesque-Medium", Arial, sans-serif; }
.result button { background: white; border: 3px solid #5bcce1; width: 320px; height: 50px; }
.result button a { font-family: "BrandonGrotesque-Black", Arial, sans-serif; text-transform: uppercase; text-decoration: none; color: #5bcce1; }
.result button i { background: url('../img/icons-s47fa40b10b.png') 0 -195px no-repeat; width: 14px; height: 9px; position: absolute; top: 20px; right: 20px; }
.result .sort { margin-right: 0; position: absolute; top: 50px; right: 0; }
@media only screen and (max-width: 680px) { .result { font-size: 14px; }
  .result .sort { top: 100px; left: 20px; padding-top: 15px; }
  .result button i { top: 35px; } }

.result__prodsearch { margin-top: 80px; }
.result__prodsearch tr { border-bottom: 1px solid #dddddd; }
.result__prodsearch td { padding: 30px 0; }
.result__prodsearch .product__name { padding-left: 20px; width: 33%; }
.result__prodsearch a, .result__prodsearch .blue { color: #5bcce1; }
.result__prodsearch a:hover { text-decoration: none; }
.result__prodsearch .prinf { vertical-align: middle; }
@media only screen and (max-width: 880px) { .result__prodsearch td { width: 10%; } }

.result__pagination { text-align: right; margin-top: 30px; }
.result__pagination a { color: #5bcce1; text-decoration: none; }
.result__pagination a + :last-child { text-decoration: underline; }
.result__pagination .active { text-decoration: underline; }
@media only screen and (max-width: 1055px) { .result__pagination { padding-right: 20px; } }

.checkout { background: #5bcce1; }

.checkout__text { max-width: 1000px; margin: 0 auto; }
.checkout__text.sign { max-width: 830px; }
.checkout__text .title { font: 48px "BrandonGrotesque-Regular", Arial, sans-serif; color: white; padding: 135px 0 70px 0; }
.checkout__text span { font: 18px "BrandonGrotesque-Medium", Arial, sans-serif; color: #b9f4ff; margin-left: 35px; position: relative; }
.checkout__text span:after { content: ""; position: absolute; top: 5px; left: -17px; background: url('../img/icons-s47fa40b10b.png') 0 -107px no-repeat; width: 11px; height: 15px; }
@media only screen and (max-width: 1055px) { .checkout__text { padding-left: 20px; } }

.existing, .newcus, .shopping { max-width: 1000px; margin: 0 auto; padding: 60px 0; position: relative; }
@media only screen and (max-width: 1055px) { .existing, .newcus, .shopping { padding-left: 20px; } }

.steps { color: #5bcce1; *zoom: 1; }
.steps:after { content: " "; display: table; clear: both; }

.steps__name { font: 24px "BrandonGrotesque-Regular", Arial, sans-serif; float: left; line-height: 1; }

.steps__order { font: 18px "BrandonGrotesque-Medium", Arial, sans-serif; float: right; }
.steps__order li { float: left; margin-right: 30px; opacity: 0.5; position: relative; }
.steps__order li:after { content: ""; position: absolute; top: 7px; right: -15px; background: url('../img/icons-s47fa40b10b.png') 0 -214px no-repeat; width: 9px; height: 14px; }
.steps__order li.active { opacity: 1; }
@media only screen and (max-width: 830px) { .steps__order { margin-top: 20px; } }

.existing__options { font: 18px "BrandonGrotesque-Regular", Arial, sans-serif; padding-top: 60px; color: #555555; border-bottom: 1px solid #dddddd; }

.existing__choose { padding: 45px 0 80px 0; font-size: 18px; color: #555555; }
.existing__choose table { width: 35%; min-width: 330px; }
.existing__choose .another { font-family: "BrandonGrotesque-Medium", Arial, sans-serif; padding-left: 20px; }
.existing__choose .info { font-family: "BrandonGrotesque-Regular", Arial, sans-serif; }

.existing__shipping { padding: 50px 0 100px 0; font-size: 18px; }
.existing__shipping table { width: 70%; }
.existing__shipping table td { padding-right: 15px; }
.existing__shipping table ul { font-family: "BrandonGrotesque-Regular", Arial, sans-serif; margin-bottom: 30px; color: #555555; }
.existing__shipping table ul span { font-family: "BrandonGrotesque-Medium", Arial, sans-serif; }
.existing__shipping table .radio__title:before, .existing__shipping table .radio__title:after { top: -11px; left: -1px; }
.existing__shipping a { font-family: "BrandonGrotesque-Medium", Arial, sans-serif; color: #5bcce1; }
.existing__shipping a:hover { text-decoration: none; }

.shopping { max-width: 830px; *zoom: 1; }
.shopping:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 690px) { .shopping { max-width: 250px; } }

.customer, .or { width: 38.55421%; min-width: 250px; float: left; font-family: "BrandonGrotesque-Regular", Arial, sans-serif; color: #555555; }
@media only screen and (max-width: 690px) { .customer, .or { float: none; } }

.customer { *zoom: 1; }
.customer:after { content: " "; display: table; clear: both; }
.customer .ttl { padding-bottom: 50px; font-size: 24px; }
.customer .cus, .customer .frgt { font: 14px "BrandonGrotesque-Medium", Arial, sans-serif; line-height: 2; }
.customer .frgt { float: right; color: #5bcce1; }
.customer button { width: 100%; height: 50px; background: #5bcce1; color: white; text-transform: uppercase; margin-top: 30px; }
.customer form input { width: 100%; margin-right: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.or { width: 22.89156%; min-width: 10%; text-align: center; margin: 95px auto; font: 18px "BrandonGrotesque-Medium", Arial, sans-serif; }

.checkbox { display: inline-block; position: relative; }
.checkbox input { position: absolute; left: 0; top: 7px; width: 15px; height: 15px; z-index: 2; opacity: 0; }
.checkbox input:checked + .checkbox__title:after { display: block; }

.checkbox__title { display: block; position: relative; z-index: 1; padding-left: 30px; }
.checkbox__title:before { content: ""; position: absolute; left: 0; top: 7px; width: 13px; height: 13px; border: 1px solid #dddddd; background: white; }
.checkbox__title:after { content: ""; display: none; position: absolute; top: 9px; left: 0; z-index: 2; background: url('../img/icons-s47fa40b10b.png') 0 -238px no-repeat; width: 14px; height: 9px; }

.radio { display: inline-block; position: relative; }
.radio input { position: absolute; left: 0; top: 8px; width: 11px; height: 11px; z-index: 2; opacity: 0; }
.radio input:checked + .radio__title:after { display: block; }

.radio__title { display: inline-block; position: relative; z-index: 1; }
.radio__title:before { content: ""; position: absolute; left: 0; top: 8px; width: 11px; height: 11px; background: url('../img/icons-s47fa40b10b.png') 0 -153px no-repeat; width: 11px; height: 11px; }
.radio__title:after { content: ""; display: none; position: absolute; top: 8px; left: 0; z-index: 2; background: url('../img/icons-s47fa40b10b.png') 0 -30px no-repeat; width: 11px; height: 11px; }

.existing__address { float: right; margin-right: 30px; *zoom: 1; }
.existing__address:after { content: " "; display: table; clear: both; }

.existing__billing { font: 18px "BrandonGrotesque-Regular", Arial, sans-serif; color: #555555; padding-top: 50px; }
.existing__billing .card { width: 30%; min-width: 300px; }
.existing__billing .card td { vertical-align: top; padding-bottom: 15px; }
.existing__billing .card td img { margin: 0 auto; display: block; }
.existing__billing .card td .radio input { left: 20px; top: 45px; }
.existing__billing .card td .radio__title:before, .existing__billing .card td .radio__title:after { top: -11px; left: 19px; }
.existing__billing a { font-family: "BrandonGrotesque-Medium", Arial, sans-serif; color: #5bcce1; }
.existing__billing a:hover { text-decoration: none; }
.existing__billing .payment { width: 45%; min-width: 350px; margin-top: 40px; }
.existing__billing .payment .radio input { left: 21px; top: 45px; }
.existing__billing .payment .radio__title:before, .existing__billing .payment .radio__title:after { left: -38px; top: 8px; }
.existing__billing .payment a { text-decoration: none; }

.existing__checkbox { margin-top: 40px; font: 14px "BrandonGrotesque-Medium", Arial, sans-serif; line-height: 2; }
.existing__checkbox input { margin-right: 10px; }

.existing__result { *zoom: 1; padding: 60px 0; }
.existing__result:after { content: " "; display: table; clear: both; }

.existing__finish { width: 33%; float: left; }
.existing__finish p { border-bottom: 1px solid #dddddd; margin-bottom: 45px; }
.existing__finish ul { margin-bottom: 30px; }
@media only screen and (max-width: 670px) { .existing__finish { float: none; width: 100%; margin-bottom: 30px; } }

.existing__product { *zoom: 1; }
.existing__product:after { content: " "; display: table; clear: both; }
.existing__product tr { border-bottom: 1px solid #dddddd; }
.existing__product td { width: 15%; text-align: right; padding: 30px 0; }
.existing__product .product__name { width: 55%; text-align: left; font: 18px "BrandonGrotesque-Medium", Arial, sans-serif; }
@media only screen and (max-width: 970px) { .existing__product .product__name { width: auto; } }
@media only screen and (max-width: 558px) { .existing__product td, .existing__product .product__name { width: 17%; font-size: 15px; } }

.existing__first td { padding: 0; font: 18px "BrandonGrotesque-Regular", Arial, sans-serif; }
@media only screen and (max-width: 558px) { .existing__first td { font-size: 15px; } }

.existing__total { *zoom: 1; }
.existing__total:after { content: " "; display: table; clear: both; }
.existing__total table { width: 35%; min-width: 300px; text-align: right; float: right; margin: 40px 0; }
.existing__total .medium { font-family: "BrandonGrotesque-Medium", Arial, sans-serif; }
@media only screen and (max-width: 760px) { .existing__total table { float: none; text-align: left; } }
@media only screen and (max-width: 558px) { .existing__total table { font-size: 15px; } }

.existing__buttons { border-top: 1px solid #dddddd; border-bottom: 1px solid #dddddd; padding: 25px 0; position: relative; }
.existing__buttons button { width: 320px; height: 50px; }
.existing__buttons button a { text-transform: uppercase; text-decoration: none; color: white; }
.existing__buttons .complete { background: #5bcce1; position: absolute; right: 0; }
.existing__buttons .back { background: none; border: 2px solid #5bcce1; position: relative; }
.existing__buttons .back i { position: absolute; top: 15px; left: 20px; -ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg); background: url('../img/icons-s47fa40b10b.png') 0 -214px no-repeat; width: 9px; height: 14px; }
.existing__buttons .back a { color: #5bcce1; }
@media only screen and (max-width: 680px) { .existing__buttons .complete { position: relative; display: inline-block; margin-top: 20px; } }

.newcus__shipping { padding: 45px 0 60px 0; }
.newcus__shipping span { font: 14px "BrandonGrotesque-Medium", Arial, sans-serif; color: #555555; line-height: 2; display: inline-block; }
@media only screen and (max-width: 492px) { .newcus__shipping span { padding: 0 0 15px 15px; } }

.newcus__fieldset input, .customer input { font: 18px "BrandonGrotesque-Regular", Arial, sans-serif; width: 300px; height: 50px; margin: 0 20px 20px 0; padding-left: 20px; border: 1px solid #dddddd; color: #555555; display: inline-block; }
.newcus__fieldset input:-moz-placeholder, .newcus__fieldset input::-moz-placeholder, .customer input:-moz-placeholder, .customer input::-moz-placeholder { color: #555555; opacity: 1; }
.newcus__fieldset input::-webkit-input-placeholder, .customer input::-webkit-input-placeholder { color: #555555; }
.newcus__fieldset .long, .customer .long { width: 644px; }
.newcus__fieldset i, .customer i { position: absolute; width: 14px; height: 9px; top: 20px; right: 20px; background: url('../img/icons-s47fa40b10b.png') 0 -238px no-repeat; width: 14px; height: 9px; cursor: pointer; }
@media only screen and (max-width: 720px) { .newcus__fieldset .long, .customer .long { width: 300px; } }

.dropdown { display: inline-block; position: relative; width: 320px; height: 50px; margin: 0 20px 20px 0; }
.dropdown select { opacity: 0; position: absolute; width: 100%; height: 50px; z-index: 3; -webkit-appearance: none; color: #555555; cursor: pointer; }

.footer__common { background: #5bcce1; height: 100px; border-top: 1px solid white; *zoom: 1; }
.footer__common:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 1020px) { .footer__common { height: auto; padding-bottom: 20px; } }
.footer__common .footer__social, .footer__common .footer__menu { float: left; margin-left: 35px; margin-top: 50px; }
@media only screen and (max-width: 1020px) { .footer__common .footer__social, .footer__common .footer__menu { float: none; text-align: center; } }
.footer__common .footer__menu li { float: left; padding-right: 15px; }
.footer__common .footer__menu li:hover a { text-decoration: none; }
.footer__common .footer__menu li a { color: white; }
@media only screen and (max-width: 650px) { .footer__common .footer__menu li { padding: 5px 0; float: none; } }
.footer__common .footer__copyright { font: 13px "BrandonGrotesque-Medium", Arial, sans-serif; float: right; margin: 45px 50px 0 0; color: white; }
@media only screen and (max-width: 650px) { .footer__common .footer__copyright { float: none; margin: 45px 0 0 30px; text-align: center; } }

.footer__badges { height: 50px; background: white; text-align: center; }
.footer__badges a { display: inline-block; margin: 10px 5px 0 0; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }
