// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts 
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)  
// =book
// 	font-family: "book", Arial, sans-serif 
	
body
	font-family: Arial, sans-serif 
	font-size: 12px 
	line-height: 1.4

+font(BrandonGrotesque-Medium, BrandonGrotesque-Medium)
+font(BrandonGrotesque-Black, BrandonGrotesque-Black)
+font(BrandonGrotesque-Regular, BrandonGrotesque-Regular)
+font(BrandonGrotesque-Bold, BrandonGrotesque-Bold)

header, section, footer
	min-width: 1115px	
// common blocks      
//HEADER
header
	width: 100%	
	height: 70px	
	position: fixed
	z-index: 1
	background: #5bcce1
	border-bottom: 2px solid #54bdd0
	font-family: "BrandonGrotesque-Medium", Arial, sans-serif 

.header__left
	position: absolute

.header__logo
	position: absolute
	top: 18px
	left: 28px  
	
.header__menu
	position: relative
	top: 23px
	left: 195px
	font-size: 18px 
	li
		display: inline-block
		padding-right: 16px
		a
			color: #FFF
			text-decoration: none 
			
.header__phone
	float: left
	margin: 19px 0 0 240px
	color: #FFF
	font-size: 24px
	position: absolute
	left: 50%
	margin: 20px 0 0 -83px

.header__right
	position: absolute
	right: 90px
	top: 17px
			
.header__auth
	input
		width: 228px
		height: 33px
		padding: 0 0 0 20px
		background: none
		font-size: 16px
		border: 2px solid #fff
		color: white
		+placeholder-color(#fff)
		&:focus
			box-shadow: 0 0 0 1px #dff6fd
			border-color: #dff6fd
	.menu
		i
			background: url(../img/menu_i.png) no-repeat
			position: absolute
			width: 26px
			height: 15px
			top: 11px
			right: -40px
			cursor: pointer
	.search
		i
			background: url(../img/search_i.png) no-repeat
			position: absolute
			width: 20px
			height: 19px
			top: 9px
			right: -73px
			cursor: pointer

//FOR PAGE PRODUCT SEARCH
.header__search
	margin-top: 6px
	a
		font-size: 18px 
		color: #FFF
		text-decoration: none
		display: inline-block
		margin-right: 10px
		&:last-child
			margin-right: 0 
		&:hover
			text-decoration: underline    
		

//SECTION HOME
.home
	position: relative
	background: url(../img/bg-1.png) no-repeat
	height: 830px
	
.home__text
	font-family: "BrandonGrotesque-Medium", Arial, sans-serif
	padding-top: 200px
	margin: 0 auto 80px
	width: 940px
	img
		position: relative
		left: 50%
		bottom: 45px
		margin-left: -69px
	p
		font-size: 36px
		color: #FFF 
		text-align: center 

.home__pagination
	position: absolute
	left: 50%
	margin-left: -20px 
	a
		cursor: pointer
		background: url(../img/dot1.png) no-repeat
		display: inline-block
		width: 11px
		height: 11px
		margin: 0 3px
		&.active
			background: url(../img/dot2.png) no-repeat

.home__social
	position: absolute
	left: 35px 
	bottom: 20px
	
.home__scroll
	position: absolute
	left: 50%
	bottom: 50px
	margin-left: -55px
	a
		font: 14px "BrandonGrotesque-Black", Arial, sans-serif
		text-transform: uppercase 
		text-decoration: none 
		color: #FFF
		bottom: 50px
	&:after
		content: ""
		position: absolute
		width: 14px
		height: 9px
		background: url(../img/arrow.png) no-repeat
		left: 50%
		margin: 15px 0 0 -7px

//SECTION BRANDS
.brands
	position: relative
	height: 830px

.brands__text
	font-family: "BrandonGrotesque-Regular", Arial, sans-serif	
	text-align: center  
	padding-top: 108px 
	.title
		color: #5bcce1
		font-size: 48px
	p
		color: #555555
		font-size: 24px    
	table
		width: 1000px
		border: 0
		margin: 0 auto
		margin-top: 100px
		td
			padding-bottom: 100px  
		a
			font-size: 18px
			text-decoration: none 
			text-transform: uppercase 
			color: #555
			span
				display: block 
				
.brands__scroll
	position: absolute
	left: 50%
	bottom: 50px
	margin-left: -55px
	a
		font: 14px "BrandonGrotesque-Black", Arial, sans-serif
		text-transform: uppercase 
		text-decoration: none 
		color: #5bcce1
		bottom: 50px
	&:after
		content: ""
		position: absolute
		width: 14px
		height: 9px
		background: url(../img/arrow2.png) no-repeat
		left: 50%
		margin: 15px 0 0 -7px
		
//SECTION ACCOUNT
.account
	position: relative
	background: #5bcce1
	height: 830px
	padding-bottom: 80px 
	
.account__text
	font-family: "BrandonGrotesque-Regular", Arial, sans-serif	
	text-align: center  
	padding-top: 108px
	color: #FFF 
	.title
		font-size: 48px
	p
		font-size: 24px
		
.account__fieldset
	text-align: center
	color: #000
	padding-top: 50px
	input
		width: 300px
		height: 50px
		margin: 0 20px 20px 0   
		padding-left: 20px

.account__create
	margin-top: 30px
	position: relative
	background: none
	border: 2px solid #fff
	width: 320px
	height: 50px
	text-transform: uppercase
	color: #fff
	&:after
		content: ""
		background: url(../img/arrow3.png) no-repeat
		position: absolute
		width: 9px
		height: 14px
		right: 20px 

//FOR PAGE SEARCH PRODUCTS
//SECTION SEARCH
.searching
	background: #5bcce1
	height: 380px
	.searching__products
		width: 1000px
		margin: 0 auto
		padding-top: 105px
		.title
			font: 48px "BrandonGrotesque-Regular", Arial, sans-serif	
			color: #FFF
			padding-bottom: 50px 
			
.searching__row
	position: relative
	padding-bottom: 20px 
	input
		width: 610px
		height: 50px
		margin-right: 16px 
		padding-left: 50px
	i
		position: absolute   
		width: 20px
		height: 20px 
		background: url(../img/search_i2.png) no-repeat 
		left: 15px
		top: 15px 
	button
		font: 14px "BrandonGrotesque-Black", Arial, sans-serif
		background: none
		border: 2px solid white
		width: 320px
		height: 50px		
		color: #fff
		letter-spacing: 2px
		text-transform: uppercase
		position: relative
		span
			&:after
				content: ""
				background: url(../img/arrow3.png) no-repeat
				position: absolute
				width: 9px
				height: 14px
				top: 16px
				right: 30px

.searching__features
	position: relative
	float: left
	margin-right: 20px
	&:last-child
		margin-right: 0 
	p
		font: 14px "BrandonGrotesque-Medium", Arial, sans-serif 
		color: #FFF
		letter-spacing: 2px
		text-transform: uppercase
	input
		width: 300px
		height: 50px   
		padding-left: 20px 
	i
		background: url(../img/arrow2.png) no-repeat
		position: absolute
		width: 14px
		height: 9px
		top: 40px
		right: 30px


//FOR PAGE EXISTING CUSTOMER
.checkout
	background: #5bcce1
	
.checkout__text
	width: 1000px 
	margin: 0 auto
	.title
		font: 48px "BrandonGrotesque-Regular", Arial, sans-serif
		color: #FFF
		padding: 135px 0 70px 0
		
.existing
	width: 1000px 	 
	margin: 0 auto
	padding: 60px 0

.steps
	color: #5bcce1
	+clr

.steps__name
	font: 24px "BrandonGrotesque-Regular", Arial, sans-serif
	float: left
	line-height: 1

.steps__order
	font: 18px "BrandonGrotesque-Medium", Arial, sans-serif
	float: right
	li	
		float: left
		margin-right: 30px
		opacity: 0.5
		position: relative
		&:after
			content: ""
			position: absolute
			width: 9px 
			height: 14px 
			background: url(../img/arrow4.png) right no-repeat 
			top: 7px
			right: -15px 
		&.active
			opacity: 1 
			
.existing__options
	font: 18px "BrandonGrotesque-Regular", Arial, sans-serif
	padding-top: 60px 
	color: #555 
	border-bottom: 1px solid #dddddd 
	
.existing__choose
	padding: 45px 0 80px 0
	font-size: 18px
	color: #555
	table
		width: 35%  
	label
		position: relative
	input
		margin-right: 15px
	i
		position: absolute  
		width: 11px 
		height: 11px 
		background: url(../img/radio.png) no-repeat 
		top: 0
		left: 0
	.another
		font-family: "BrandonGrotesque-Medium", Arial, sans-serif
	.info
		font-family: "BrandonGrotesque-Regular", Arial, sans-serif

.existing__shipping
	padding: 50px 0 100px 0
	font-size: 18px
	table
		width: 70%
		td
			padding-right: 5px 
		ul
			font-family: "BrandonGrotesque-Regular", Arial, sans-serif
			margin-bottom: 30px 
			color: #555
			span
				font-family: "BrandonGrotesque-Medium", Arial, sans-serif
	a
		font-family: "BrandonGrotesque-Medium", Arial, sans-serif
		color: #5bcce1
		&:hover
			text-decoration: none  
			
.existing__address
	float: right
	margin-right: 30px
	+clr

.existing__billing
	font: 18px "BrandonGrotesque-Regular", Arial, sans-serif
	color: #555 
	.card
		width: 30%
		margin-top: 35px
		td
			vertical-align: top
			padding-bottom: 15px
			input, img
				margin: 0 auto
				display: block
			input
				margin-top: 10px
	a
		font-family: "BrandonGrotesque-Medium", Arial, sans-serif
		color: #5bcce1
		&:hover
			text-decoration: none 

.existing__checkbox
	margin-top: 50px
	font: 14px "BrandonGrotesque-Medium", Arial, sans-serif
	line-height: 2 
	input
		margin-right: 10px   

.existing__result
	+clr
	padding: 60px 0

.existing__finish
	width: 33%
	float: left
	p
		border-bottom: 1px solid #ddd
		margin-bottom: 45px
	ul
		margin-bottom: 30px 
		
.existing__product
	+clr
	tr
		border-bottom: 1px solid #ddd
	td
		width: 15%
		text-align: right
		padding: 30px 0
	.existing__first
		td
			padding: 0 
			font: 18px "BrandonGrotesque-Regular", Arial, sans-serif
	.product__name
		width: 55% 
		text-align: left
		font: 18px "BrandonGrotesque-Medium", Arial, sans-serif

.existing__total
	+clr
	table
		width: 35%
		text-align: right
		float: right
		margin: 40px 0
	.medium 
		font-family: "BrandonGrotesque-Medium", Arial, sans-serif

.existing__buttons
	border-top: 1px solid #ddd
	border-bottom: 1px solid #ddd
	padding: 25px 0 
	position: relative
	button
		width: 320px 
		height: 50px 
		background: #5bcce1 
		position: absolute
		right: 0
		a
			text-transform: uppercase
			text-decoration: none  
			color: #FFF 
	.back
		background: none
		border: 2px solid #5bcce1
		position: relative
		i
			background: url(../img/arrow4.png)
			position: absolute
			width: 9px
			height: 14px 
			top: 15px
			left: 20px
			+rotate(180)  
		a
			color: #5bcce1 
			

//FOOTER	
.footer__common
	background: #5bcce1 
	padding: 50px 0 
	border-top: 1px solid #fff
	.footer__social,
	.footer__menu
		float: left
		margin-left: 35px
	.footer__menu
		margin-top: 3px  
		li 
			float: left
			padding-right: 15px
			&:hover a
				text-decoration: none 
			a
				color: #FFF
	.footer__copyright
		font: 13px "BrandonGrotesque-Medium", Arial, sans-serif 
		float: right
		margin-right: 50px  
		color: #FFF 

.footer__badges
	height: 50px
	background: #FFF
	text-align: center
	a
		display: inline-block
		margin: 10px 5px 0 0   